
#------------------------------------------

# created by virtualenv automatically
venv
.idea
__pycache__

#------------------------------------------

#archivos unicos para cada uno o para evitar solapamientos

variables.py
extra_huMoments.csv
huMoments.csv
knn_super_model.joblib
